In [2]:
import pandas as pd

In [3]:
#df=pd.read_csv("PS_20174392719_1491204439457_log.csv")

In [4]:
df=pd.read_csv('train_v2.csv')

C:\Users\satish\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (135,204,274,417) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
0,1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,...,5,2.14,-1.54,1.18,0.1833,0.7873,1,0,5,0
1,2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,...,6,0.54,-0.24,0.13,0.1926,-0.6787,1,0,5,0
2,3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,...,13,2.89,-1.73,1.04,0.2521,0.7258,1,0,5,0
3,4,134,10,0.439874,1100,3,82642,7542.0,1730.0,132.94,...,4,1.29,-0.89,0.66,0.2498,0.7119,1,0,5,0
4,5,109,9,0.502749,2900,4,79124,89.0,491.0,122.72,...,26,6.11,-3.82,2.51,0.2282,-0.5399,0,0,5,0

In [6]:
df.dtypes

id        int64
f1        int64
f2        int64
f3      float64
f4        int64
         ...
f775    float64
f776      int64
f777      int64
f778      int64
loss      int64
Length: 771, dtype: object

In [7]:
def data_shape(data):
    # find the shape of data
    shape=data.shape
    rows = data.shape[0]
    col= data.shape[1]
    return {'shape of data':shape, 'number of rows':rows, 'number of features':col }

data_shape(df)

{'shape of data': (105471, 771),
 'number of rows': 105471,
 'number of features': 771}

In [8]:
def nullcount(data):
    total=(data.isnull().sum()).sort_values(ascending=False)
    percentage=((data.isnull().sum())/(data.isnull().count())*100).sort_values(ascending=False)
    datatype=data.dtypes
    ms=pd.concat([total,percentage,datatype],axis=1,keys=['Total','Percentage','Datatype'])
    ms=ms[ms['Percentage']>0]
    return ms

nullcount(df)

      Total  Percentage Datatype
f663  18833   17.856093  float64
f662  18833   17.856093  float64
f159  18736   17.764125  float64
f160  18736   17.764125  float64
f169  18417   17.461672  float64
...     ...         ...      ...
f765      1    0.000948  float64
f675      1    0.000948  float64
f676      1    0.000948  float64
f677      1    0.000948  float64
f678      1    0.000948  float64

[525 rows x 3 columns]

In [9]:
def finddtye(data):
    intcount=0
    floatcount=0
    objectcount=0
    for name,datatype in data.dtypes.iteritems():
        if datatype=='float64':
            floatcount=floatcount+1
        elif datatype=='int64':
            intcount=intcount+1
        else:
            objectcount=objectcount+1
    df=pd.DataFrame({'IntegerType':[intcount],'Float Type':[floatcount],'Object Type':[objectcount]})
    df['Total Features']=df['IntegerType']+df['Object Type']+df['Float Type']
    return df
finddtye(df)

   IntegerType  Float Type  Object Type  Total Features
0           99         653           19             771

In [10]:
#to drop selected columns object datatypes
'''def dropcolumns(data):
    for i in ['step']:
        data.drop(i,axis=1,inplace=True)
dropcolumns(df)'''

"def dropcolumns(data):\n    for i in ['step']:\n        data.drop(i,axis=1,inplace=True)\ndropcolumns(df)"

In [11]:
#let's findout unique value in each of categorical variables
def col_enc(data):
    for col in data.select_dtypes(include=['object']).columns:
        print(col, ':' , len(data[col].unique()), 'labels')
col_enc(df)

f137 : 6551 labels
f138 : 31152 labels
f206 : 20087 labels
f207 : 14511 labels
f276 : 6041 labels
f277 : 28710 labels
f338 : 8663 labels
f390 : 104662 labels
f391 : 104659 labels
f419 : 24826 labels
f420 : 25772 labels
f469 : 86420 labels
f472 : 102913 labels
f534 : 85376 labels
f537 : 104114 labels
f626 : 104754 labels
f627 : 104751 labels
f695 : 93730 labels
f698 : 91986 labels

In [12]:
def dropcolumns(data):
    for i in data.select_dtypes(include=['object']).columns:
        data.drop(i,axis=1,inplace=True)
dropcolumns(df)

In [13]:
df.head()

,id,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
0,1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,...,5,2.14,-1.54,1.18,0.1833,0.7873,1,0,5,0
1,2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,...,6,0.54,-0.24,0.13,0.1926,-0.6787,1,0,5,0
2,3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,...,13,2.89,-1.73,1.04,0.2521,0.7258,1,0,5,0
3,4,134,10,0.439874,1100,3,82642,7542.0,1730.0,132.94,...,4,1.29,-0.89,0.66,0.2498,0.7119,1,0,5,0
4,5,109,9,0.502749,2900,4,79124,89.0,491.0,122.72,...,26,6.11,-3.82,2.51,0.2282,-0.5399,0,0,5,0

In [14]:
#dummies=pd.get_dummies(df.type,drop_first=True)

In [15]:
#df=df.join(dummies)

In [16]:
df.shape

(105471, 752)

In [17]:
def filldata(data):
    for name,datatype in data.dtypes.iteritems():
        if datatype=='float64':
            print(name)
            data.fillna(data[name].median(),inplace=True)
        elif datatype=='int64':
            print(name)
            data.fillna(data[name].mean(),inplace=True)

In [18]:
filldata(df)

id
f1
f2
f3
f4
f5
f6
f7
f8
f9
f10
f13
f14
f15
f16
f17
f18
f19
f20
f21
f22
f23
f24
f25
f26
f27
f28
f29
f30
f31
f32
f33
f34
f35
f36
f37
f38
f39
f40
f41
f42
f43
f44
f45
f46
f47
f48
f49
f50
f51
f52
f53
f54
f55
f56
f57
f58
f59
f60
f61
f62
f63
f64
f65
f66
f67
f68
f69
f70
f71
f72
f73
f74
f75
f76
f77
f78
f79
f80
f81
f82
f83
f84
f85
f86
f87
f88
f89
f90
f91
f92
f93
f94
f95
f96
f97
f98
f99
f100
f101
f102
f103
f104
f105
f106
f107
f108
f109
f110
f111
f112
f113
f114
f115
f116
f117
f118
f119
f120
f121
f122
f123
f124
f125
f126
f127
f128
f129
f130
f131
f132
f133
f134
f135
f136
f139
f140
f141
f142
f143
f144
f145
f146
f147
f148
f149
f150
f151
f152
f153
f154
f155
f156
f157
f158
f159
f160
f161
f162
f163
f164
f165
f166
f167
f168
f169
f170
f171
f172
f173
f174
f175
f176
f177
f178
f179
f180
f181
f182
f183
f184
f185
f186
f187
f188
f189
f190
f191
f192
f193
f194
f195
f196
f197
f198
f199
f200
f201
f202
f203
f204
f205
f208
f209
f210
f211
f212
f213
f214
f215
f216
f217
f218
f219
f220
f221
f222
f223
f224
f225
f226
f227
f228
f229
f230
f231
f232
f233
f234
f235
f236
f237
f238
f239
f240
f241
f242
f243
f244
f245
f246
f247
f248
f249
f250
f251
f252
f253
f254
f255
f256
f257
f258
f259
f260
f261
f262
f263
f264
f265
f266
f267
f268
f269
f270
f271
f272
f273
f274
f275
f278
f279
f280
f281
f282
f283
f284
f285
f286
f287
f288
f289
f290
f291
f292
f293
f294
f295
f296
f297
f298
f299
f300
f301
f302
f303
f304
f305
f306
f307
f308
f309
f310
f311
f312
f313
f314
f315
f316
f317
f318
f319
f320
f321
f322
f323
f324
f325
f326
f327
f328
f329
f330
f331
f332
f333
f334
f335
f336
f337
f339
f340
f341
f342
f343
f344
f345
f346
f347
f348
f349
f350
f351
f352
f353
f354
f355
f356
f357
f358
f359
f360
f361
f362
f363
f364
f365
f366
f367
f368
f369
f370
f371
f372
f373
f374
f375
f376
f377
f378
f379
f380
f381
f382
f383
f384
f385
f386
f387
f388
f389
f392
f393
f394
f395
f396
f397
f398
f399
f400
f401
f402
f403
f404
f405
f406
f407
f408
f409
f410
f411
f412
f413
f414
f415
f416
f417
f418
f421
f422
f423
f424
f425
f426
f427
f428
f429
f430
f431
f432
f433
f434
f435
f436
f437
f438
f439
f440
f441
f442
f443
f444
f445
f446
f447
f448
f449
f450
f451
f452
f453
f454
f455
f456
f457
f458
f459
f460
f461
f464
f465
f466
f467
f468
f470
f471
f475
f476
f477
f478
f479
f480
f481
f482
f483
f484
f485
f486
f487
f488
f489
f490
f491
f492
f493
f494
f495
f496
f497
f498
f499
f500
f501
f502
f503
f504
f505
f506
f507
f508
f509
f510
f511
f512
f513
f514
f515
f516
f517
f518
f519
f520
f521
f522
f523
f524
f525
f526
f527
f528
f529
f530
f531
f532
f533
f535
f536
f538
f539
f540
f541
f542
f543
f544
f545
f546
f547
f548
f549
f550
f551
f552
f553
f554
f555
f556
f557
f558
f559
f560
f561
f562
f563
f564
f565
f566
f567
f568
f569
f570
f571
f572
f573
f574
f575
f576
f577
f578
f579
f580
f581
f582
f583
f584
f585
f586
f587
f588
f589
f590
f591
f592
f593
f594
f595
f596
f597
f598
f599
f600
f601
f604
f606
f607
f608
f609
f610
f611
f612
f613
f614
f615
f616
f617
f618
f619
f620
f621
f622
f623
f624
f625
f628
f629
f630
f631
f632
f633
f634
f635
f636
f637
f638
f639
f640
f641
f642
f643
f644
f645
f646
f647
f648
f649
f650
f651
f652
f653
f654
f655
f656
f657
f658
f659
f660
f661
f662
f663
f664
f665
f666
f667
f668
f669
f670
f671
f672
f673
f674
f675
f676
f677
f678
f679
f680
f681
f682
f683
f684
f685
f686
f687
f688
f689
f690
f691
f692
f693
f694
f696
f697
f699
f700
f701
f702
f703
f704
f705
f706
f707
f708
f709
f710
f711
f712
f713
f714
f715
f716
f717
f718
f719
f720
f721
f722
f723
f724
f725
f726
f727
f728
f729
f730
f731
f732
f733
f734
f735
f736
f737
f738
f739
f740
f741
f742
f743
f744
f745
f746
f747
f748
f749
f750
f751
f752
f753
f754
f755
f756
f757
f758
f759
f760
f761
f762
f763
f764
f765
f766
f767
f768
f769
f770
f771
f772
f773
f774
f775
f776
f777
f778
loss

In [19]:
#https://www.kaggle.com/dhyaks/loan-default-prediction-in-easy-way-akshay/notebook

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
def data_split(data):
    X=data.iloc[:,:-1]
    y=data['loss']
    x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=5,test_size=.3)
    sc=StandardScaler()
    x_train=sc.fit_transform(x_train)
    x_test=sc.transform(x_test)

    return x_train,x_test,y_train,y_test

In [21]:
#data_split(df)

In [25]:
x_train.shape

(73829, 751)

In [26]:
y_train.shape

(73829,)

In [27]:
type(y_train)

numpy.ndarray

In [28]:
type(x_train)

numpy.ndarray